# continuous integration
# run tests for repo
---
name: Test
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    container: python:3.11
    steps:
      - uses: actions/checkout@v4

      - name: Install test runner
        run: python3 -m pip install tox

      - name: Run tests
        run: tox
